/* ktm.css */
.kotak_kartu_depan,
.kotak_kartu_belakang {
    width: 8.56cm;
    height: 5.4cm;
    border-radius: 10px;
    font-family: Tahoma;
    margin-left: .5mm;
    /* float: left; */
    position: relative;
}

.foto {
    width: 17mm;
    height: 22mm;
    position: absolute;
    margin-left: 25px;
}

.label {
    text-align: right;
    margin-right: 1mm;
    font-size: 5pt;
}

.textbox {
    text-align: right;
    margin-right: 1mm;
    font-size: 6pt;
}

img {
    width: 17mm;
    height: 22mm;
}

.qrcode {
    float: right;
    width: 2.1cm;
    height: 2.1cm;
    background-size: 80px 80px;
}
